<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <% include partials/nav %>
</nav>

<!-- Page Content -->
<div class="container">
    <% include partials/breadcrumbs %>

    <!-- Product Item Heading -->
    <h1 class="my-4"><%=result[0].name%><br>
        <small>base № <%=result[0].id%></small>
    </h1>

    <!-- Single Product -->
    <div class="row">
        <div class="col-md-6">
            <img class="img img-responsive" src="/images/<%=result[0].img%>" alt="<%=result[0].imgalt%>">
            <img class="img img-responsive" src="/images/<%=result[0].img2%>" alt="<%=result[0].imgalt%>">
        </div>

        <div class="col-md-4">
            <h3 class="my-3"><%=result[0].name%></h3>
            <img class="img-fluid" src="#" alt="">
            <p><%=result[0].long_description%></p>
            <span class="price">Price: <%=result[0].price%>- <%=result[0].currency%></span><br><br>

                <p><select>
                        <option>Choose currency</option>
                        <option value="EUR">EUR: <%=eur%></option>
                        <option value="CAD">CAD: <%=cad%></option>
                        <option value="GBR">GBR: <%=gbr%></option>
                    </select></p><br><br>

            <a href="/to-cart/<%=pid%>" class="btn btn-lg btn-success btn-block" role="button">Add to cart <i class="fa fa-cart-plus" aria-hidden="true"></i></a><br>
            <a href="/to-wishlist/<%=pid%>" class="btn btn-lg btn-info btn-block" role="button">Add to wishlist <i class="fa fa-calendar" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<% include partials/footer %>
</body>

</html>
