<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <% include ../partials/nav %>
</nav>

<!-- Profile Content -->
<div class="container">
    <% include ../partials/breadcrumbs %>
    <h2>Hello, <span class="text-primary"><%= user.name %></span></h2>
    <% if (user.token) {%>
    <h6 class="text-right">You're signed via <span class="text-danger"><span class="fa fa-google-plus"></span> Google</span></h6><br>
    <%}%>
    <div class="row">

    <div class="col-sm-8 float-left">
        <% if (products) {%>
        <br><h3 class="text-center"><b>Your wishlist</b></h3><br>
        <div class="row"><br>
                <ul class="list-group">
                    <% for (var product in products) {%>
                    <li class="list-group-item">
                        <button class="btn btn-sm btn-default">Quantity: <b><%= products[product].qty %></b></button>
                        <strong> &nbsp;&nbsp;<%= products[product].item.name %> </strong>&nbsp;&nbsp;
                        <b class="text-info">$<%= products[product].price %></b>
                        <img class="rounded float-left img-fluid" src="/images/<%= products[product].item.image_groups[0].images[0].link %>">
                        <br><br><div><%= products[product].item.long_description %></div>
                    </li><hr>
                    <%}%>
                </ul>
        </div>
    </div>
        <%} else {%>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <h2>Your wishlist is empty..</h2>
            </div>
        </div>
        <%}%>
    <div class="col-sm-4 float-right">

                    <form class="form-horizontal form" action="/users/profile" method="POST">

                        <% if (user) {%>
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="" value="<%= user.name %>">
                        </div>

                        <div class="form-group hidden">
                            <label class="control-label" for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="" value="<%= user.email %>">
                        </div>

                        <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                        <button type="submit" class="btn btn-primary btn-block">Update profile</button><br>
                        <%}%>
                    </form>

                    <form class="form-horizontal form" action="/users/delete" method="POST">
                        <p>Or you can completely delete your account:</p>
                        <button type="submit" class="btn btn-default btn-sm">Delete your account</button>
                    </form>
    </div>
    </div>
</div> <!-- /container -->

<% include ../partials/footer %>

</body>
</html>
